/* Admin styles */
#results {
    margin-top: 20px;
}

#results div {
    margin-bottom: 10px;
}

#results img {
    max-width: 150px;
    width: 100%;
    height: auto;
    max-height: 150px;
    margin-right: 10px;
}
